<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Connexion</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="FormLogin" (ngSubmit)="onSubmit()">
      <!-- Champ Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Votre email" formControlName="email" type="email" />
        <mat-error *ngIf="email?.hasError('required')">L'email est requis</mat-error>
      </mat-form-field>

      <!-- Champ Mot de passe -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Votre mot de passe" formControlName="password" type="password" />
        <mat-error *ngIf="password?.hasError('required')">Le mot de passe est requis</mat-error>
      </mat-form-field>

      <!-- Message d'erreur -->
      <div *ngIf="error" class="error-message">{{ error }}</div>

      <!-- Bouton -->
      <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loading">
        Connexion
        <mat-progress-spinner *ngIf="loading" diameter="20" mode="indeterminate"></mat-progress-spinner>
      </button>
    </form>
  </mat-card-content>
</mat-card>
