<mat-toolbar style="background-color: paleturquoise" >
  <button (click)="sidenav.toggle()" mat-icon-button id="menuicons" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span id="menuTitre" class="ms-5 " ><a mat-button class="top-menu-item" routerLink="/index/home">DelivryMatch</a></span>
  <a mat-button class="top-menu-item" routerLink="/home">Home</a>
    <a mat-button class="top-menu-item" routerLink="/annonce">Annonce</a>

  <a mat-button class="top-menu-item" routerLink="/index">Demmande</a>
  <span class="spacer"></span>

  <a mat-button class="top-menu-item" (click)="logout()">Logout</a>

</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav #sidenav  [fixedInViewport]="true" [fixedTopGap]="60" class="side" mode="side" opened>
    <div class="side-nav-item">
      <div>
        <a (click)="sidenav.close()" mat-button class="side-menu-item" routerLink="/home">Home</a>
      </div>
      <div><a (click)="sidenav.close()" mat-button class="side-menu-item"  routerLink="/annonce">Annonce</a></div>

      <div><a (click)="sidenav.close()" mat-button class="side-menu-item" routerLink="">Demmande</a></div>
      <div><a (click)="sidenav.close()" mat-button class="side-menu-item" routerLink="">Logout</a></div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

